html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  background: #333;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin-left: 1rem;
  margin-right: 2.5rem;
  text-align: center;
  transition: 0.5s;
}

a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
}

/*respon navbar*/
@media screen and (max-width:576px) {
  .logo {
    margin-bottom: 1.5rem;
  }
  
  .nav-con {
    padding: 3rem 0;
    flex-direction: column;
    height: auto;
  }

  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    padding: 1rem 0;
    margin-left: 0;
    transition: 0.5s;
  }

  .menu li:hover {
    background: #222;
  }
}

.span1 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin-left: 1rem;
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  column-gap: 10px;      
  row-gap: 50px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;                           
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto,auto);
  grid-template-areas: "one two two"
                       "three four four"
                       "footer footer footer"
  
}

.TS {
  border-radius: 50%;
}

.NE {
  border-radius: 50%;
}

/*mobile*/
@media screen and (max-width:576px) {
  .grid-container {
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: "one"
                         "two"
                         "three"
                         "four"
                         "footer"
  }

  .one {
    margin: auto;
  }
  .two {
    margin: auto;
  }
  .three {
    margin: auto;
  }
  .four {
    margin: auto
  }
  
  }

  @media  screen and (max-width:768px) and (min-width:576px) {
   
    .grid-container {
      grid-template-columns: repeat(2,1fr);
      grid-template-areas: "one two"
                           "three four"
                           "footer footer"
  }
  }

.ig1 {
  display: block;
  position: relative;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.text1 {
  color: #fff;
  position: relative;
  margin-left: 1rem;
  margin-top: 10px;
}

.one {
  grid-area: one;
  align-items: center; 
}

.two {
  grid-area: two;
  
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
  
}

.footer {
  grid-area: footer;
  background: #333;
  height: 6rem;
}

.text4 {
  font-size: 22px;
  transition: 1s;
}

.text3::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.text3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
